# Default ignored files

__pycache__/


# =========================
# Virtual environments
# =========================
venv/
.env

# =========================
# IDEs (PyCharm / VSCode)
# =========================
.idea/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/


